<center>
	<p class="text-primary title font-Fjalla">About Me</p>
	<p class="about-text" disabled="true">
		From La Virgen, Sarapiquí, Heredia, Costa Rica, I'm 21 years old. Currently I'm studying computer engineering at the Instituto Tecnológico de Costa Rica, this is my 7th semester,  the next will be the professional practice.
		I have experience working on a team and under pressure, I usually learn as personal as professionally of my partners. I like to help others with everything that I can. I work with some basic web development technologies and currently I am learning about the Mean stack. Finally my expectations are to become an excelent engineer and work on amazing projects												
	<p class="about-text text-primary">"Choose a job you love, and you will never have to work a day in your life." Confucius</p>
	<div id="socialicons">
		<p class="title">Follow me at</p>
		<a  class="icon fa fa-github-square" href="https://github.com/manfredArtavia" title="Follow with GitHub"  aria-hidden="true"></a>
		<a  class="icon fa fa-linkedin-square" href="https://cr.linkedin.com/in/manfred-artavia-024ba2107" title="Follow with LinkedIn"  aria-hidden="true"></a>
		<a  class="icon fa fa-facebook-square" href="https://www.facebook.com/manfred.artaviagomez" title="Follow with Facebook"  aria-hidden="true"></a>
	</div>
	<div id="socialicons">
		<p class="title">Or contact me at</p>
		<p class="fa fa-skype title"> manfred.artavia1</p>
		<p class="fa fa-paper-plane title"> manartavia13@gmail.com</p>
	</div>
</center>